<% environment.context_class.instance_eval { include ApplicationHelper } %>
<div>
  <div class="ribbon clickable">
    <div class="bg top"></div>
    <div class="bg bottom"></div>
    <div class="instruction"><%=I18n.translate 'magazine.article.bookclip' %></div>
  </div>
  <h1>{{data.title}}</h1>
  <div class="time">{{data.lastUpdated}}</div>
  <div class="about">
    <label>{{data.about.title}}</label>
    <h5>{{data.about.name}}</h5>
    <button title="<%=I18n.translate 'magazine.article.subscribe' %>" ng:click="subscribe(data.about, data.about.type)"><div class="icon subscribe" ng-class="{selected: data.about.isSubscribed}"></div></button>  
    <button title="<%=I18n.translate 'magazine.article.block' %>" ng:click="block()"><div class="icon block"></div></button>
  </div>
  <ul class="brand" ng-repeat="brand in data.brands">
    <li>
      <img ng-src="{{brand.icon}}" title="{{brand.name}}" />
      <button title="<%=I18n.translate 'magazine.article.subscribe' %>"><div class="icon subscribe" ng-class="{selected: brand.isSubscribed}" ng:click="subscribe(brand, 'brand')"></div></button>
    </li>
  </ul>
  <slideshow ng-repeat="photo in data.photos">
    <img ng-src="{{photo.url}}" title="{{photo.caption}}"/>
  </slideshow>
  <div class="stat">
    <button class="radio left" ng-class="{selected: data.isThumbUp}" title="<%=I18n.translate 'magazine.article.thumbUp' %>" ng-click="thumbUp()">
      <div class="icon thumbUp"></div>
      <label>{{data.thumbUp}}</label>
    </button>
    <button class="radio right" ng-class="{selected: data.isThumbDown}" title="<%=I18n.translate 'magazine.article.thumbDown' %>" ng-click="thumbDown()">
      <div class="icon thumbDown"></div>
      <label>{{data.thumbDown}}</label>
    </button>
    <div class="icon comment" title="<%=I18n.translate 'magazine.article.comment' %>">{{data.totalComments}}</div>
  </div>
  <div class="summary clickable" ng:click="view()">
    {{data.summary}}...
  </div>
</div>