<% environment.context_class.instance_eval { include ApplicationHelper } %>
  <section id="MagazineNew" class="gradient">
    <div class="logo" title="<%=I18n.translate 'app.name' %>"></div>
    <ul selector class="menu" placeholder="menu" data-selected="magazine">
      <li class="clickable" data-value="magazine" title="<%=I18n.translate 'app.menu.magazine' %>"><div class="total"></div></li>
      <li class="clickable" data-value="bookclip" title="<%=I18n.translate 'app.menu.bookclip' %>"></li>
      <li class="clickable" data-value="circle" title="<%=I18n.translate 'app.menu.circle' %>"></li>
    </ul>
    <section class="canvas">
      <div class="magazines">
        <div class="book">
          <div class="cover">
            <h3>{{magazine.name}}</h3>
            <ul>
              <li ng-repeat="item in magazine.pics">
                <img ng-show="item" ng-src="{{item.url}}" title="{{item.name}}" />
              </li>
            </ul>
          </div>
          <div class="overlay"></div>
          <div class="shadow"></div>
          <div class="thickness"></div>
        </div>
      </div>
      <div class="box">
        <div class="desc" ng-show="user.id">
          <h1><%=I18n.translate 'page.magazine.new.heading' %></h1>
          <%= description_to_html "page.magazine.new.description" %>
        </div>
        <div class="form">
          <form name="form">
            <field>
              <input class="field" ng-model="magazine.name" required/>
              <label><%=I18n.translate 'label.magazine.new.name' %></label>
            </field>
            <fieldset>
              <ul>
                <li class="first">
                  <input class="field" ng-model="user.email" required/>
                  <label><%=I18n.translate 'label.email' %></label>
                </li>
                <li>
                  <input class="field" ng-model="user.password" required/>
                  <label><%=I18n.translate 'label.password' %></label>
                </li>
                <li class="last">
                  <input class="field" ng-model="user.password_repeat" required/>
                  <label><%=I18n.translate 'label.password_repeat' %></label>
                </li>
              </ul>
            </fieldset>
            <button ng-click="create()"><%=I18n.translate 'button.magazine.new' %></button>
            <button ng-click="back()"><%=I18n.translate 'button.back' %></button>
          </form>
        </div>
      </div>
    </section>
  </section>
